*.o
*.exe
*.db
c/*.test
cpp/*.test
*.pyc
*.vglog

client/eecloud_pub
client/eecloud_sub
examples/mysql_log/eecloud_mysql_log
examples/temperature_conversion/mqtt_temperature_conversion
man/eecloud.8
man/eecloud-tls.7
man/eecloud.conf.5
man/libeecloud.3
man/eecloud_passwd.1
man/eecloud_pub.1
man/eecloud_sub.1
man/mqtt.7
src/db_dump/eecloud_db_dump
src/eecloud
src/eecloud_passwd
test/broker/broker.pid
test/test_client
test/fake_user
test/msgsps_pub
test/msgsps_sub
test/msgsps_pub.dat
test/msgsps_sub.dat
test/broker/c/auth_plugin.so

lib/cpp/libeecloudpp.so*
lib/libeecloud.so*
lib/libeecloud.a

test/ssl/*.csr

test/lib/c/*.test
test/lib/cpp/*.test

build/
dist/
